{
  "presets": [ "react", "es2015", "stage-0" ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-react-constant-elements",
    "transform-decorators-legacy",
    "transform-react-inline-elements"
  ]
}
