@import '_vars';
.note-wrapper {
  top: 55px;
  right: 5px;
  z-index: 999;
}
.note {
  width: 300px;
  min-height: 60px;
  padding: 5px;
  color: $color-darkblue;
  margin-bottom: 10px;
  border: {
    radius: 2px;
    style: solid;
    width: 1px;
  }
  &.log {
    border-color: $note-log;
    background-color: $note-log-light;
  }
  &.warn {
    border-color: $note-warn;
    background-color: $note-warn-light;
  }
  &.err {
    border-color: $note-err;
    background-color: $note-err-light;
  }
}
