@import '_vars';
@import 'mixins';

.preview {
  max-width: 1024px;
  &.fullScreen {
    max-width: 100%;
  }
}
#totalPages{

}
#pageNumber{
  width: 40px;
  height: 28px;
  border: 1px solid $color-blue20;
	border-radius: 3px;
	padding: 2px 5px;
}



.button.pick-page{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #FFF;
  & > span{
    font-size: 14px;
    transition: opacity .2 ease;
  }
  &.selected{
      background-color: rgba(0, 186, 67, 0.4);
      transition: all .2s ease;
  }
  &:hover{
  	background-color: #00ba43;
  }
}

.pick-page.selected:hover{
  background-color: #e00505;
}

.pick-page.selected > span {
    color: #fff;
}
// .pick-page:hover > span {
//     opacity: 0;
// }

.bookmark {
  margin: 3px;
  border: solid 1px $color-blue20;
}

.tmp-bg{
	background-color: aquamarine;
}
.preview-tumbs{
	width: 180px;
}
.thumbs-container {
  padding: 3px;
}
.pdfThumb {
  &:not(:last-child){
    margin-bottom: 10px;
  }
  & .canvas-wrapper::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: -2px;
    background-color: $color-blue40;
    height: 1px;
    width: calc(100% + 4px);
    transform: scale3d(0, 0, 0);
    transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.active .canvas-wrapper::after {
    background-color: $color-blue;
    transform: scale3d(1, 2, 1);
  }
  &:hover .canvas-wrapper::after {
    background-color: $color-blue40;
    transform: scale3d(1, 2, 1);
    // box-shadow: 0 0 2px 0 $color-blue40;
  }
}


.preview-body{

}

.page {
  max-width: 100%;
  &:not(:last-child){
    margin-bottom: 10px;
  }
}
.preview-img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
