@import '_vars';
@import 'mixins';

.preview {
  width: 1024px;
  &.fullScreen {
    width: 100%;
  }
}
#totalPages{

}
#pageNumber{
  width: 40px;
  height: 28px;
  border: 1px solid $color-blue20;
	border-radius: 3px;
	padding: 2px 5px;
}



.button.pick-page{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #FFF;
  & > span{
    font-size: 14px;
    transition: opacity .2 ease;
  }
  &.selected{
      background-color: rgba(0, 186, 67, 0.4);
      transition: all .2s ease;
  }
  &:hover{
  	background-color: #00ba43;
  }
}

.pick-page.selected:hover{
  background-color: #e00505;
}

.pick-page.selected > span {
    color: #fff;
}
// .pick-page:hover > span {
//     opacity: 0;
// }


.tmp-bg{
	background-color: aquamarine;
}

.preview-body{

}

.page {
  max-width: 100%;
  &:not(:last-child){
    margin-bottom: 10px;
  }
}
.preview-img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
