$menu-size: 40px;

$color-lightblue: #F2F2F4;
$color-1: #ECECEE;
$color-darkblue: #2D323C;

// blue
$color-blue20: rgba(39,48,65,0.20);
$color-blue40: rgba(39,48,65,0.40);
$color-blue60: rgba(39,48,65,0.60);
$color-blue80: rgba(39,48,65,0.80);
$color-blue: #2D323C;
// white
$color-white: #FFF;
$color-white80: rgba(255, 255, 255, 0.8);
$color-white60: rgba(255, 255, 255, 0.6);
$color-white40: rgba(255, 255, 255, 0.4);


$color-light: rgba(39,48,65,0.60);
$color-dark: #273142;
$color-orange: #FF5600;
$color-yellow: #F7D218;
$color-green: #4CAF50;
$color-red: #d90000;
$color-fb-blue: #3C5A99;

$note-err: #CC2500;
$note-err-light: rgba(252,238,235,0.95);
$note-warn: #BF8C00;
$note-warn-light: rgba(250,247,237,0.95);
$note-log: #008004;
$note-log-light: rgba(246,255,242,0.95);

$font-light: 300;
$font-regular: 400;

$min-gap: 5px;
$mid-gap: 10px;
$max-gap: 20px;

$menu-hight: 40px;
