@import '_vars';
@import 'phantoms';

@import 'reset';
@import 'main-styles';

@import '_color-scheme';
@import '_input';
@import '_btn-style';
// /*------------ Контейнеры ------------*/
@import '_container';

/*------------ Main header ------------*/
@import '_main-header';
/*------------ CSS TRANSITION ------------*/
@import 'css-transitions';


/*------------ Просмотр ------------*/
@import '_demo-page';
@import '_sidebar';
@import '_preview';
@import 'thumbnails';
@import 'bookmarks';

/*------------ Временно ------------*/
@import '_scroll';
/*------------ Helpers ------------*/
@import '_helpers';
/*------------ loadbar ------------*/
@import '_loadbar';


// @import '_style';
// @import '_new';
// @import '_newindex';
@import '_svg';
// @import '_path';
// @import '_makers_list';
